.container {
  width: 100%;
  background-color: #dc3b5a;
  padding: 16px 8px 0px 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  max-width: 480px;
  min-width: 360px;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  /* min-width: 328px;
  max-width: 448px; */
}

.logo {
  fill: #1e1e1e;
}

.burgerButton {
  display: block;
  margin-bottom: 8px;
  background-color: rgba(30, 30, 30, 0.1);
  border: none;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}

.burgerButton:hover,
.burgerButton:focus {
  color: rgba(240, 240, 240, 1);
  text-decoration: underline;
}

.SocialList {
  list-style: none;
  position: absolute;
}

.sociaListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  background-color: rgba(30, 30, 30, 0.1);
  border: none;
  border-radius: 8px;
  width: 48px;
  height: 48px;
}

.sociaListItem:hover .socialListIcon,
.sociaListItem:focus .socialListIcon {
  fill: rgba(240, 240, 240, 1);
}

.socialListIcon {
  /* display: block; */
  fill: rgba(30, 30, 30, 1);
}
